<footer class="footer">
  <div class="footer-wrap">
    <div class="footer__descript">
      <span class="footer__site">MORTGAGECALCULATORPLUS.COM</span>
      <span class="footer__copyright">Copyright © 2005-2019</span>
    </div>
  </div>
</footer>