<div class="navbar">
  <ul class="navbar__list">
    <li class="navbar__item"><a href="#" class="navbar__link">Mortgage Calculator</a></li>
    <li class="navbar__item"><a href="#" class="navbar__link">Predefined MC</a></li>
  </ul>
</div>