*
  box-sizing: border-box
  padding: 0
  margin: 0
a 
  text-decoration: none
  color: #000000
  font-family: 'Roboto Regular'


.btn
  cursor: pointer
  font-family: 'Roboto Light'
  font-size: 20px
  &_promo
    width: 245px
    height: 49px
    border-radius: 5px
    background-color: rgba(255, 255, 255, 0)

@mixin before_num
  position: absolute
  opacity: 0.15
  color: #000000
  font-family: 'Roboto Medium'
  font-size: 30px
  top: -20px
  left: -20px
