.footer
  margin-top: 200px
  width: 100%
  background: $primary-blue
  &-wrap
    max-width: 1070px
    min-height: 248px
    margin: auto
    display: flex
    justify-content: flex-start
    align-items: center
  &__descript
    max-width: 250px
    font-family: 'Roboto Regular'
    font-size: 15px
    color: $primary-purple
  &__copyright
    display: block
    margin-top: 10px