.guide
  width: 100%
  height: 100vh
  background: $primary-pink
  display: flex
  align-items: center
  &-wrap
    display: flex
    justify-content: space-between
    max-width: 910px
    margin: auto
  &__promo-block
  &__title
    font-family: 'Roboto Medium'
    font-size: 30px
  &__descript
    display: block
    font-family: 'Roboto regular'
    font-size: 20px
    line-height: 25px
    opacity: 0.8
    margin-top: 55px
    margin-left: 77px
  &__btn
    margin-top: 50px 
    margin-left: 77px
    border: 1px solid $primary-purple
    color: $primary-purple
    &:hover
      transition: 0.2s
      background-color: #5e0096
      color: white
  
.guide__list-block
  margin-left: 190px
.list-block
  display: flex
  flex-direction: column
  height: 450px
  justify-content: space-between
  &__item
    border: 1px solid #707070
    width: 200px
    height: 100px
    padding: 13px
    background-color: #ffffff
    border-radius: 5px
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.16)
    opacity: 0.5
    font-family: 'Roboto Light'
    font-size: 15px
    &_1
      position: relative
      &:before
        content: '01'
        @include before_num
    &_2
      position: relative
      &:before
        content: '02'
        @include before_num
    &_3
      position: relative
      &:before
        content: '03'
        @include before_num


  