.header-wrap
  height: 100vh
  background: url('../img/gradient_hero.jpg') no-repeat center
  background-size: cover
  position: relative
.hero
  width: 100%
  min-height: 705px
  padding: 0 233px
  display: flex
  justify-content: flex-start
  align-items: center
  &:after
    content: ''
    position: absolute
    right: 300px
    bottom: -120px
    width: 255px
    height: 460px
    background: url('../img/calculate-promo.png') no-repeat

.hero-promo
  display: flex
  flex-basis: 670px
  min-height: 380px
  flex-wrap: wrap
  &__title
    font-family: 'Roboto Regular'
    opacity: 0.9
    font-size: 50px
    color: white
  &__descript
    flex-basis: 100%
    padding-right: 260px
    color: rgba(255, 255, 255, 0.65)
    font-family: 'Roboto Light'
    font-size: 20px
  &__btn
    border: 1px solid #ffffff
    color: #ffffff
    &:hover
      transition: 0.2s
      box-shadow: 3px 3px 9px rgba(255, 255, 255, 0.66)





  