.navbar
  display: flex
  width: 100%
  height: 48px
  background-color: #ffffff
  justify-content: flex-end
  align-items: center
  padding: 0 233px
  &__list
    display: flex
    justify-content: flex-end
    list-style: none
  &__item
    margin-left: 130px
  &__link
    display: block
    width: 100%
    height: 21px
    
    &:hover
      border-bottom: 1.5px solid $primary-purple
      