.promo
  width: 100%
  height: 100vh
  margin-top: 80px
  display: flex
  align-items: center
  &-wrap
    max-width: 1070px
    margin: auto
    margin-top: 200px
    display: flex
    justify-content: space-between
  &__text
    margin-left: 108px
  &__title
    max-width: 267px
    font-family: 'Roboto Medium'
    font-size: 30px
  &__descript
    display: block
    font-family: 'Roboto regular'
    font-size: 20px
    line-height: 25px
    opacity: 0.8
    margin-top: 55px
    margin-left: 77px
    
  
