@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/Roboto-Light.ttf"); }

@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/Roboto-Medium.ttf"); }

@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/Roboto-Bold.ttf"); }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #000000;
  font-family: 'Roboto Regular'; }

.btn {
  cursor: pointer;
  font-family: 'Roboto Light';
  font-size: 20px; }
  .btn_promo {
    width: 245px;
    height: 49px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0); }

.header-wrap {
  height: 100vh;
  background: url("../img/gradient_hero.jpg") no-repeat center;
  background-size: cover;
  position: relative; }

.hero {
  width: 100%;
  min-height: 705px;
  padding: 0 233px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .hero:after {
    content: '';
    position: absolute;
    right: 300px;
    bottom: -120px;
    width: 255px;
    height: 460px;
    background: url("../img/calculate-promo.png") no-repeat; }

.hero-promo {
  display: flex;
  flex-basis: 670px;
  min-height: 380px;
  flex-wrap: wrap; }
  .hero-promo__title {
    font-family: 'Roboto Regular';
    opacity: 0.9;
    font-size: 50px;
    color: white; }
  .hero-promo__descript {
    flex-basis: 100%;
    padding-right: 260px;
    color: rgba(255, 255, 255, 0.65);
    font-family: 'Roboto Light';
    font-size: 20px; }
  .hero-promo__btn {
    border: 1px solid #ffffff;
    color: #ffffff; }
    .hero-promo__btn:hover {
      transition: 0.2s;
      box-shadow: 3px 3px 9px rgba(255, 255, 255, 0.66); }

.navbar {
  display: flex;
  width: 100%;
  height: 48px;
  background-color: #ffffff;
  justify-content: flex-end;
  align-items: center;
  padding: 0 233px; }
  .navbar__list {
    display: flex;
    justify-content: flex-end;
    list-style: none; }
  .navbar__item {
    margin-left: 130px; }
  .navbar__link {
    display: block;
    width: 100%;
    height: 21px; }
    .navbar__link:hover {
      border-bottom: 1.5px solid #7b4caa; }

.promo {
  width: 100%;
  height: 100vh;
  margin-top: 80px;
  display: flex;
  align-items: center; }
  .promo-wrap {
    max-width: 1070px;
    margin: auto;
    margin-top: 200px;
    display: flex;
    justify-content: space-between; }
  .promo__text {
    margin-left: 108px; }
  .promo__title {
    max-width: 267px;
    font-family: 'Roboto Medium';
    font-size: 30px; }
  .promo__descript {
    display: block;
    font-family: 'Roboto regular';
    font-size: 20px;
    line-height: 25px;
    opacity: 0.8;
    margin-top: 55px;
    margin-left: 77px; }

.guide {
  width: 100%;
  height: 100vh;
  background: #f0e5f5;
  display: flex;
  align-items: center; }
  .guide-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 910px;
    margin: auto; }
  .guide__title {
    font-family: 'Roboto Medium';
    font-size: 30px; }
  .guide__descript {
    display: block;
    font-family: 'Roboto regular';
    font-size: 20px;
    line-height: 25px;
    opacity: 0.8;
    margin-top: 55px;
    margin-left: 77px; }
  .guide__btn {
    margin-top: 50px;
    margin-left: 77px;
    border: 1px solid #7b4caa;
    color: #7b4caa; }
    .guide__btn:hover {
      transition: 0.2s;
      background-color: #5e0096;
      color: white; }

.guide__list-block {
  margin-left: 190px; }

.list-block {
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-between; }
  .list-block__item {
    border: 1px solid #707070;
    width: 200px;
    height: 100px;
    padding: 13px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.16);
    opacity: 0.5;
    font-family: 'Roboto Light';
    font-size: 15px; }
    .list-block__item_1 {
      position: relative; }
      .list-block__item_1:before {
        content: '01';
        position: absolute;
        opacity: 0.15;
        color: #000000;
        font-family: 'Roboto Medium';
        font-size: 30px;
        top: -20px;
        left: -20px; }
    .list-block__item_2 {
      position: relative; }
      .list-block__item_2:before {
        content: '02';
        position: absolute;
        opacity: 0.15;
        color: #000000;
        font-family: 'Roboto Medium';
        font-size: 30px;
        top: -20px;
        left: -20px; }
    .list-block__item_3 {
      position: relative; }
      .list-block__item_3:before {
        content: '03';
        position: absolute;
        opacity: 0.15;
        color: #000000;
        font-family: 'Roboto Medium';
        font-size: 30px;
        top: -20px;
        left: -20px; }

.footer {
  margin-top: 200px;
  width: 100%;
  background: #440087; }
  .footer-wrap {
    max-width: 1070px;
    min-height: 248px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .footer__descript {
    max-width: 250px;
    font-family: 'Roboto Regular';
    font-size: 15px;
    color: #7b4caa; }
  .footer__copyright {
    display: block;
    margin-top: 10px; }

/*# sourceMappingURL=style.css.map */
